@inherits LayoutComponentBase

<div class="page" style="height: 100vh; display: flex; flex-flow: column;">
    <NavMenu />
    <main role="main" style="display: flex; flex-wrap: wrap; height: 100%; padding: 0 0.75rem; margin: 0 auto; box-sizing: border-box;">
        @Body
    </main>
</div>